frontend stats
  mode http
  bind *:8404
  stats enable
  http-request use-service prometheus-exporter if { path /metrics }
  stats refresh 10s
  stats uri /stats
  stats show-modules

frontend haproxy_as_api_gateway
    bind *:8091
    acl PATH_accounts path_beg -i /api/accounts
    acl PATH_matches path_beg -i /api/matches
    acl PATH_gamestate path_beg -i /api/gamestate

    use_backend accounts_service if PATH_accounts
    use_backend matches_service if PATH_matches
    use_backend gamestate_service if PATH_gamestate

backend accounts_service
    server server1 host.containers.internal:8080
backend matches_service
    server server1 host.containers.internal:8081
backend gamestate_service
    server server1 host.containers.internal:8082

